<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>ALCOM VCC URL</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>vcc</string>
            </array>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>ALCOM Project Template</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.anatawa12.vrc-get.alcomtemplate</string>
            </array>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.anatawa12.vrc-get.alcomtemplate</string>
            <key>UTTypeIcons</key>
            <dict>
                <key>UTTypeIconText</key>
                <string>Template</string>
                <key>UTTypeIconBackgroundName</key>
                <string></string>
                <key>UTTypeIconBadgeName</key>
                <string>icon.icns</string>
            </dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.json</string>
            </array>
            <key>UTTypeDescription</key>
            <string>ALCOM Project Template</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>alcomtemplate</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
