productName = "ALCOM"
identifier = "com.anatawa12.vrc-get-gui"

[build]
beforeBuildCommand = "npm run build"
beforeDevCommand = "npm run dev"
devUrl = "http://localhost:3030"
frontendDist = "out"

[bundle]
active = true
targets = [
    "appimage",
    "nsis", #-setup.exe
    "app", # needs for dmg
    "dmg",
]
longDescription = "ALCOM is a fast and open-source alternative VCC (VRChat Creator Companion) written in rust and tauri."
shortDescription = "ALCOM - Alternative Creator Companion"
category = "DeveloperTool"
copyright = "(c) anatawa12 and other contributors"

externalBin = []
icon = [
    "icons/32x32.png",
    "icons/128x128.png",
    "icons/128x128@2x.png",
    "icons/icon.icns",
    "icons/icon.ico",
]
resources = []
publisher = "anatawa12"

createUpdaterArtifacts = "v1Compatible"

[bundle.linux.deb]
depends = []

[bundle.macOS]
exceptionDomain = ""
frameworks = []
providerShortName = "anatawa12"

[bundle.windows]
digestAlgorithm = "sha256"
nsis.template = "installer.nsi"

[plugins.updater]
endpoints = []
pubkey = "dW50cnVzdGVkIGNvbW1lbnQ6IG1pbmlzaWduIHB1YmxpYyBrZXk6IDkyMjAzMkU2Q0ZGQjQ0MjYKUldRbVJQdlA1aklna2d2NnRoM3ZsT3lzWEQ3MC9zTGpaWVR4NGdQOXR0UGJaOHBlY2xCcFY5bHcK"

[app.security]
