[package]
name = "vrc-get-vpm"

# discreate versioning since this library will not have stable versions
version = "0.0.7-beta.2"

edition.workspace = true
license.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true

description = "Open Source client of VRChat Package Manager. This is the library is made for vrc-get."
readme = "README.md"
keywords = ["vpm", "package-manager"]
categories = ["command-line-utilities"]

[dependencies]
async-stream = "0.3.5"
async_zip = { version = "0.0.16", features = ["deflate", "tokio", "deflate64"] }
either = "1.9.0"
futures = "0.3.30"
hex = "0.4.3"
indexmap = { version = "2.2.2", features = ["serde"] }
itertools = "0.12.1"
log = "0.4.20"
pin-project-lite = "0.2.13"
reqwest = { version = "0.11.24", features = ["stream"], default-features = false }
serde = { version = "1.0.196", features = ["derive", "rc"] }
serde_json = { version = "1.0.113", features = ["preserve_order"] }
sha2 = "0.10.8"
tokio-util = "0.7.10"
url = { version = "2.5.0", features = ["serde"] }
uuid = { version = "1.6.1", features = ["v4"] }
lazy_static = "1.4.0"
enum-map = "2.7.3"

vrc-get-litedb = { version = "0.1.0", optional = true } # TODO: use crates.io published version later
tokio = { version = "1.36.0", features = ["fs", "process"], optional = true }

[target."cfg(windows)".dependencies]
dirs-sys = "0.4.1"

[features]
default = ["rustls"]
native-tls = ["reqwest/native-tls-vendored"]
rustls = ["reqwest/rustls-tls-native-roots"]

experimental-project-management = ["vrc-get-litedb"]
experimental-yank = []
