@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--background-start: 190 7.89% 85.1%;
		--background-end: 0, 0%, 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--info: 207 90% 54%;
		--info-foreground: 210 40% 98%;
		--success: 122 39% 49%;
		--success-foreground: 210 40% 98%;
		--warning: 52.15, 100%, 46.47%;
		--warning-foreground: 210 40% 98%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.75rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--background-start: 10 8% 15%;
		--background-end: 0 0% 0%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--info: 207 90% 54%;
		--info-foreground: 210 40% 98%;
		--success: 122 39% 49%;
		--success-foreground: 210 40% 98%;
		--warning: 52.15, 100%, 46.47%;
		--warning-foreground: 210 40% 98%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		color: hsl(var(--foreground));
		background: linear-gradient(
				to bottom,
				transparent,
				hsl(var(--background-end))
		) hsl(var(--background-start));
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.project-table-button:hover .project-table-header-chevron-up-down {
	visibility: visible;
}

/* re-enable text-sizing for heading components */

h1 {
	@apply text-2xl;
}

h2 {
	@apply text-xl;
}

h3 {
	@apply text-lg;
}

h4 {
	@apply text-base;
}

h5 {
	@apply text-base;
}

h6 {
	@apply text-sm;
}

code {
	@apply font-mono;
}
